/* .fetch_details {
  display: flex;
  flex-direction: flex-start;
  justify-content: center;
  align-items: center;
  border: 1px solid;
} */
.fetch_details {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-end; */
  align-items: center;
  padding: 5px;
}
.compare_button {
  background-color: white;
}
